.menu {
  display: flex;
  list-style: none;
  gap: 20px;
  background: #333;
  padding: 15px;
  color: white;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  background: white;
  color: black;
  list-style: none;
  top: 35px;
  padding: 10px;
}

.dropdown:hover .submenu {
  display: block;
}
